schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://github.com/olivi-r/Character5e/raw/main/schema.xsd" xmlns:ns="http://github.com/olivi-r/Character5e/raw/main/schema.xsd" elementFormDefault="qualified">
    <xs:attributeGroup name="source">
        <xs:attribute use="required" name="source">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="ua" />
                    <xs:enumeration value="basic" />
                    <xs:enumeration value="phb" />
                    <xs:enumeration value="dmg" />
                    <xs:enumeration value="mm" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="name" />
    </xs:attributeGroup>
    <xs:complexType name="skill">
        <xs:attribute type="xs:boolean" name="proficient" />
        <xs:attribute type="xs:boolean" name="expertise" />
    </xs:complexType>
    <xs:complexType name="spells">
        <xs:sequence>
            <xs:element name="spell" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="components" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element type="xs:string" name="component" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="description" />
                        <xs:element type="xs:string" name="higher-levels" minOccurs="0" />
                    </xs:all>
                    <xs:attributeGroup ref="ns:source" />
                    <xs:attribute use="required" name="level">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="cantrip" />
                                <xs:enumeration value="1" />
                                <xs:enumeration value="2" />
                                <xs:enumeration value="3" />
                                <xs:enumeration value="4" />
                                <xs:enumeration value="5" />
                                <xs:enumeration value="6" />
                                <xs:enumeration value="7" />
                                <xs:enumeration value="8" />
                                <xs:enumeration value="9" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute use="required" name="school">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="abjuration" />
                                <xs:enumeration value="conjuration" />
                                <xs:enumeration value="divination" />
                                <xs:enumeration value="enchantment" />
                                <xs:enumeration value="evocation" />
                                <xs:enumeration value="illusion" />
                                <xs:enumeration value="necromancy" />
                                <xs:enumeration value="transmutation" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute type="xs:boolean" name="ritual" />
                    <xs:attribute type="xs:string" use="required" name="casting-time" />
                    <xs:attribute type="xs:string" use="required" name="range" />
                    <xs:attribute type="xs:boolean" name="verbal" />
                    <xs:attribute type="xs:boolean" name="somatic" />
                    <xs:attribute type="xs:boolean" name="concentration" />
                    <xs:attribute type="xs:string" use="required" name="duration" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="player">
        <xs:complexType>
            <xs:all>
                <xs:element name="details">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="xs:string" name="name" />
                            <xs:element type="xs:string" name="gender" />
                            <xs:element name="alignment">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Lawful Good" />
                                        <xs:enumeration value="Lawful Neutral" />
                                        <xs:enumeration value="Lawful Evil" />
                                        <xs:enumeration value="Neutral Good" />
                                        <xs:enumeration value="True Neutral" />
                                        <xs:enumeration value="Neutral Evil" />
                                        <xs:enumeration value="Chaotic Good" />
                                        <xs:enumeration value="Chaotic Neutral" />
                                        <xs:enumeration value="Chaotic Evil" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:integer" name="experience" />
                            <xs:element name="background">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attributeGroup ref="ns:source" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="money">
                                <xs:complexType>
                                    <xs:attribute type="xs:integer" name="cp" />
                                    <xs:attribute type="xs:integer" name="sp" />
                                    <xs:attribute type="xs:integer" name="ep" />
                                    <xs:attribute type="xs:integer" name="gp" />
                                    <xs:attribute type="xs:integer" name="pp" />
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="race">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="xs:integer" name="age" />
                            <xs:element type="xs:integer" name="speed" />
                            <xs:element type="xs:string" name="height" />
                            <xs:element type="xs:integer" name="weight" />
                            <xs:element name="subrace" minOccurs="0">
                                <xs:complexType>
                                    <xs:attributeGroup ref="ns:source" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="score-increase" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute type="xs:integer" name="str" />
                                    <xs:attribute type="xs:integer" name="dex" />
                                    <xs:attribute type="xs:integer" name="con" />
                                    <xs:attribute type="xs:integer" name="int" />
                                    <xs:attribute type="xs:integer" name="wis" />
                                    <xs:attribute type="xs:integer" name="cha" />
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                        <xs:attributeGroup ref="ns:source" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="ability">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="xs:integer" name="str" />
                            <xs:element type="xs:integer" name="dex" />
                            <xs:element type="xs:integer" name="con" />
                            <xs:element type="xs:integer" name="int" />
                            <xs:element type="xs:integer" name="wis" />
                            <xs:element type="xs:integer" name="cha" />
                        </xs:all>
                        <xs:attribute name="saving-throws">
                            <xs:simpleType>
                                <xs:list>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="str" />
                                            <xs:enumeration value="dex" />
                                            <xs:enumeration value="con" />
                                            <xs:enumeration value="int" />
                                            <xs:enumeration value="wis" />
                                            <xs:enumeration value="cha" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:list>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="skills">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="ns:skill" name="acrobatics" />
                            <xs:element type="ns:skill" name="animal-handling" />
                            <xs:element type="ns:skill" name="arcana" />
                            <xs:element type="ns:skill" name="athletics" />
                            <xs:element type="ns:skill" name="deception" />
                            <xs:element type="ns:skill" name="history" />
                            <xs:element type="ns:skill" name="insight" />
                            <xs:element type="ns:skill" name="intimidation" />
                            <xs:element type="ns:skill" name="investigation" />
                            <xs:element type="ns:skill" name="medicine" />
                            <xs:element type="ns:skill" name="nature" />
                            <xs:element type="ns:skill" name="perception" />
                            <xs:element type="ns:skill" name="performance" />
                            <xs:element type="ns:skill" name="persuasion" />
                            <xs:element type="ns:skill" name="religion" />
                            <xs:element type="ns:skill" name="sleight-of-hand" />
                            <xs:element type="ns:skill" name="stealth" />
                            <xs:element type="ns:skill" name="survival" />
                        </xs:all>
                        <xs:attribute type="xs:boolean" name="jack-of-all-trades" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="classlist">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="class" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element type="xs:integer" name="level" />
                                        <xs:element name="subclass">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element type="ns:spells" name="spells" minOccurs="0" />
                                                </xs:all>
                                                <xs:attributeGroup ref="ns:source" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="ns:spells" name="spells" minOccurs="0" />
                                    </xs:all>
                                    <xs:attributeGroup ref="ns:source" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="characteristics">
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:choice>
                                <xs:element type="xs:string" name="trait" />
                                <xs:element type="xs:string" name="ideal" />
                                <xs:element type="xs:string" name="bond" />
                                <xs:element type="xs:string" name="flaw" />
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>